#images {
  position:relative;
  height:500px;
  width:500px;
  margin:0 auto;
}

#images img {
  position:absolute;
  left:0;
 

}

@keyframes FadeInFadeOut {
  0% {
    opacity:1;
  }
  14% {
    opacity:1;
  }
  17% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes FadeInFadeOut {
 0% {
    opacity:1;
  }
  14% {
    opacity:1;
  }
  17% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#images img {
  -webkit-animation-name: FadeInFadeOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 72s;

  -moz-animation-name: FadeInFadeOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 72s;

  -o-animation-name: FadeInFadeOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 72s;

  animation-name: FadeInFadeOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 72s;
}



#images img.sixth {
   -webkit-animation-delay: 60s;
  -moz-animation-delay: 60s;
  -o-animation-delay: 60s;
  animation-delay: 60s;
}

#images img.fifth {
   -webkit-animation-delay: 48s;
  -moz-animation-delay: 48s;
  -o-animation-delay: 48s;
  animation-delay: 48s;
}

#images img.fourth {
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  -o-animation-delay: 36s;
  animation-delay: 36s;

}
#images img.third {
   -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  animation-delay: 24s;
}

}
#images img.second {
   -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s;
}

#images img.first {
   -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
      